
.principalInfo{
    background-image: url(/img/infofondo.jpg);
    min-height: 100vh;
    margin-bottom: 1rem;

    & h3{
        font-size: 50px;
        padding: 40px;
    }
    
}

.banner{
    text-align: center;
}

.parrafoInfo { 
    
    margin-bottom: 1rem;
    & p{
        font-family: 'Roboto';
        background-color: white;
        box-shadow: 2px 2px black;
        padding: 35px;
        animation: aparecen 3s;
    }
}

@media screen and (min-width: 992px) {
    .container {
        width: 100vw;
        max-width: none;
    }
}
