@-webkit-keyframes aparecen {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes aparecen {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: white;
  background: -webkit-gradient(linear, left top, right top, from(#343A40), to(black));
  background: linear-gradient(90deg, #343A40 0%, black 100%);
}

.principal {
  width: 100%;
  height: 100vh;
  background-image: url(/img/iniciofondo.jpg);
}

h1 {
  padding: 10px;
  margin-left: 30px;
  font-family: 'Dosis';
  color: white;
  text-shadow: 2px 2px black;
  -webkit-animation: aparecen 3s;
          animation: aparecen 3s;
}

h2 {
  font-size: 80px;
  font-family: 'Roboto';
  font-weight: bolder;
  padding-left: 40px;
  padding-top: 30px;
  -webkit-animation: aparecen 3s;
          animation: aparecen 3s;
}

h3 {
  font-family: 'Ephesis';
  font-weight: bold;
  padding-left: 40px;
  -webkit-animation: aparecen 3s;
          animation: aparecen 3s;
  font-size: 45px;
}

ul {
  display: inline;
}

ul li {
  list-style: none;
  padding: 5px;
}

ul li a {
  text-decoration: none;
  color: white;
}

ul li a:hover {
  color: burlywood;
  text-decoration: none;
}

footer {
  background-color: #343A40;
  padding: 15px;
}

footer p {
  background-color: #343A40;
  color: white;
  text-align: center;
}

@media only screen and (max-width: 768px) {
  h1 {
    padding: 10px;
    margin-left: 30px;
    font-family: 'Dosis';
    color: white;
    text-shadow: 2px 2px black;
    -webkit-animation: aparecen 3s;
            animation: aparecen 3s;
  }
  h2 {
    font-size: 65px;
    font-family: 'Roboto';
    font-weight: bolder;
    padding-left: 40px;
    padding-top: 30px;
    -webkit-animation: aparecen 3s;
            animation: aparecen 3s;
  }
}

@media only screen and (max-width: 485px) {
  h1 {
    padding: 10px;
    margin-left: 30px;
    font-family: 'Dosis';
    color: white;
    text-shadow: 2px 2px black;
    -webkit-animation: aparecen 3s;
            animation: aparecen 3s;
    font-size: 25px;
  }
  h2 {
    font-size: 50px;
    font-family: 'Roboto';
    font-weight: bolder;
    padding-left: 40px;
    padding-top: 30px;
    -webkit-animation: aparecen 3s;
            animation: aparecen 3s;
  }
  ul li {
    font-size: 14px;
  }
}

.principalInfo {
  background-image: url(/img/infofondo.jpg);
  min-height: 100vh;
  margin-bottom: 1rem;
}

.principalInfo h3 {
  font-size: 50px;
  padding: 40px;
}

.banner {
  text-align: center;
}

.parrafoInfo {
  margin-bottom: 1rem;
}

.parrafoInfo p {
  font-family: 'Roboto';
  background-color: white;
  -webkit-box-shadow: 2px 2px black;
          box-shadow: 2px 2px black;
  padding: 35px;
  -webkit-animation: aparecen 3s;
          animation: aparecen 3s;
}

@media screen and (min-width: 992px) {
  .container {
    width: 100vw;
    max-width: none;
  }
}

.principalProd {
  background-image: url(/img/infofondo.jpg);
  height: 100vh;
  width: 100%;
}

.principalProd h3 {
  padding: 40px;
}

.carousel {
  height: 300px;
  width: 500px;
  margin: auto;
}

@media (max-width: 400px) {
  .carousel {
    height: 300px;
    width: 300px;
    margin: auto;
  }
}

.principalTips {
  background-image: url(/img/infofondo.jpg);
  height: 100vh;
  width: 100%;
}

.principalTips h3 {
  padding: 40px;
}

.video {
  margin-bottom: 2rem;
}

.video iframe {
  height: 250px;
  width: 90%;
}

.principalCont {
  background-image: url(/img/infofondo.jpg);
  height: 100vh;
  width: 100%;
}

.principalCont h3 {
  padding-top: 40px;
  padding-left: 40px;
}

form {
  border: 2px solid #252525;
  margin: auto;
  margin-top: 60px;
  padding: 40px;
  width: 450px;
}

input {
  border: none;
  border-bottom: 2px solid;
  padding: 10px;
  border-color: #252525;
  margin: 20px;
}

textarea {
  margin-top: 30px;
}

input[type=button], input[type=submit], input[type=reset] {
  background-color: #252525;
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  cursor: pointer;
  margin: 30px 15px 0px 0px;
}

@media (max-width: 400px) {
  form {
    width: 280px;
  }
}
/*# sourceMappingURL=estilos.css.map */